yarn.lock
web-ext-artifacts
key.pem
*.crx
*.xpi
*.zip
webpack-modules/addon/background_scripts/index.js
webpack-modules/addon/popup/index.js
set_page_color/popup.js

beastify/beastify.js

beastify/choose_beast.js

list-cookies/cookies.js
